<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">房间号</label>
        <div class="layui-input-inline">
            <select name="roomNum" lay-verify="required" autocomplete="off" class="layui-input" lay-search>
                <div th:if="${editInfo.id == null}">
                    <option value="" selected>请选择一个房间</option>
                </div>
                <div th:if="${editInfo.id != null}">
                    <option th:value="${editInfo.roomNum}" th:text="${editInfo.roomNum}" selected></option>
                </div>
                <option th:each="rroom:${rooms}"
                        th:value="${rroom.roomNum}"
                        th:text="${rroom.roomNum}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宾客姓名</label>
        <div class="layui-input-inline">
            <div th:if="${editInfo.id != null}">
                <input type="text" name="guestName"  th:value="${editInfo.guestName}" placeholder="请输入宾客姓名" autocomplete="off" class="layui-input" style="background:#CCCCCC" disabled="disabled">
            </div>
            <div th:if="${editInfo.id == null}">
                <input type="text" name="guestName"  placeholder="可不输" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宾客电话</label>
        <div class="layui-input-inline">
            <div th:if="${editInfo.id != null}">
                <input type="text" name="phonenum" th:value="${editInfo.phonenum}" placeholder="请输入宾客电话" autocomplete="off" class="layui-input" style="background:#CCCCCC" disabled="disabled">
            </div>
            <div th:if="${editInfo.id == null}">
<!--                <input type="text" name="phonenum" placeholder="请输入宾客电话" autocomplete="off" class="layui-input">-->
                <select name="phonenum" lay-verify="required" autocomplete="off" class="layui-input" lay-search>
                    <option value="" selected>请选择宾客电话</option>
                    <option th:each="guest:${guests}"
                            th:value="${guest.phoneNum}"
                            th:text="${guest.phoneNum}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入住时间</label>
        <div class="layui-input-inline">
            <div th:if="${editInfo.id != null}">
                <input type="text" name="startTime" id="startTime1" th:value="${editInfo.startTime}" lay-verify="required" placeholder="请输入入住时间" autocomplete="off" class="layui-input" style="background:#CCCCCC" disabled="disabled">
            </div>
            <div th:if="${editInfo.id == null}">
                <input type="text" name="startTime" id="startTime2"  lay-verify="required" placeholder="请输入入住时间" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">退房时间</label>
        <div class="layui-input-inline">
            <input type="text" name="endTime" id="endTime" th:value="${editInfo.endTime}" lay-verify="required" placeholder="请输入退房时间" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate;

        laydate.render({
            elem: '#startTime1' // 指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#startTime2' // 指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endTime' // 指定元素
            ,type: 'datetime'
        });

        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'hotel/logs/edit' : 'hotel/logs/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>