<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>+
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-form-label">房间号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="roomNum" placeholder="请输入房间号" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">房间状态</label>
                                <div class="layui-input-inline">
                                    <select class="layui-select" name="status">
                                        <option value="">请选择</option>
                                        <option value="0">禁用</option>
                                        <option value="1">空闲</option>
                                        <option value="2">有预定</option>
                                        <option value="3">有人</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">房间类型</label>
                                <div class="layui-input-inline">
                                    <select class="layui-select" name="type">
                                        <option value="">请选择</option>
                                        <option value="1">单人间</option>
                                        <option value="2">标准双人间</option>
                                        <option value="3">三人间</option>
                                        <option value="4">大床房</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <button class="layui-btn " lay-submit="" lay-filter="kTableSearchFilter">
                                    <i class="layui-icon layui-icon-search"></i>
                                </button>
                                <button class="layui-btn " type="reset">
                                    <i class="layui-icon layui-icon-refresh-1"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <table id="kContentTable" lay-filter="kContentTable"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>


<!--表格列格式化模板 start-->
<script type="text/html" id="statusTpl">
    {{#  if(d.status == 0){ }}
    <span class="layui-badge layui-bg-blue">禁用</span>
    {{# } else if(d.status == 1) { }}
    <span class="layui-badge layui-bg-blue">空闲</span>
    {{# } else if(d.status == 2) { }}
    <span class="layui-badge layui-bg-blue">有预定</span>
    {{# } else if(d.status == 3) { }}
    <span class="layui-badge layui-bg-blue">有人</span>
    {{# } }}
</script>
<script type="text/html" id="typeTpl">
    {{#  if(d.type == 1){ }}
    <span class="layui-badge layui-bg-blue">单人间</span>
    {{# } else if(d.type == 2) { }}
    <span class="layui-badge layui-bg-blue">标间</span>
    {{# } else if(d.type == 3) { }}
    <span class="layui-badge layui-bg-blue">三人间</span>
    {{# } else if(d.type == 4) { }}
    <span class="layui-badge layui-bg-blue">大床房</span>
    {{# } }}
</script>
<script type="text/html" id="priceTpl">
<!--todo由于注释不统一规范，无法为你生成格式化代码，请自行处理-->
<span>{{d.price}}</span>
</script>
<!--表格列格式化模板 end-->

<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'layer', 'table', 'laydate'], function () {
        var elemet = layui.element, form = layui.form, layer = layui.layer, table = layui.table, laydate = layui.laydate;
        var tableId = 'kContentTable';
        var area = ['449px', '90%'];

        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            ,defaultToolbar: ['filter', 'exports', '']
            ,url: BASE_WEB + 'hotel/room/list/data' // 数据接口
            ,cols: [[ //表头
                {field: 'roomNum', title: '房间号'}
                ,{field: 'type', title: '房间类型',width: 130,templet: '#typeTpl'}
                ,{field: 'status', title: '状态', width: 130, templet: '#statusTpl'}
                ,{field: 'price', title: '价格（元 ）', width: 130, templet: '#priceTpl'}
                ,{field: 'remark', title: '备注', }
            ]]
        }));

        // 监听查询
        form.on('submit(kTableSearchFilter)', function (obj) {
            var params = obj.field;
            tableIns.reload({
                where: params,
                page: {current: 1}
            });
            return false;
        });

        // 绑定监听回车事件
        kvfKit.bindEnterEventForLayuiForm();

    });
</script>

</body>
</html>